
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

.finance__wrap {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .finance__diagramm {
        position: relative;
        left: -1.5vw;
        width: 40vw;
        height: 33vw;
    }
    .finance__diagramm-center {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 16.5vw;
            height: 16.5vw;
        }

        .finance__diagramm-info {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 54%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .finance__diagramm-title {
            font-family: Montserrat;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.4vw;
            color: #FFFFFF;
        }

        .finance__diagramm-value {
            font-family: Oswald;
            font-style: normal;
            font-weight: 400;
            font-size: 2.4vw;
            color: #FFFFFF;
            margin-top: 0.5vw;
        }

        .finance__diagramm-descr, .finance__diagramm-descr-date {
            font-family: Oswald;
            font-style: normal;
            font-weight: 400;
            font-size: 0.8vw;
            color: #627DAE;
        }

        .finance__diagramm-data {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 120%;
            width: 120%;
        }

        .finance__diagramm-ellipse {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }
    .out, .out2 {
        width: 100%;
        height: 100%;
    }
     .diagram {
         position: relative;
         width: 100%;
         height: 100%;
     }

     .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFFF;
        font-size: 8vw;
        width: 40%;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
       
        
     }

     .donut-segment-a {
         transform: translate(-0.1em, 0.1em);
     }